{{!< default}}

<div class="voteInner">
    <div class="voting">
        <div class="block voteSidebar">
            <p>Every single day you can vote up to 5 times and receive a total of 5x Aquatic Gemstones (1 for each vote). The links will redirect you directly towards the pages you can vote on. Additionally, You can use the command /vote in-game to start voting.</p>
        </div>
        <div class="block voteContent">
            <ul>
                <li class="first"><a target="_blank" href="https://best-minecraft-servers.co/server-stickymc.2033/vote">Vote Link #1</a></li>
                <li class="first"><a target="_blank" href="https://minecraft.buzz/vote/1531">Vote Link #2</a></li>
                <li class="first"><a target="_blank" href="https://minecraftservers.org/vote/470921">Vote Link #3</a></li>
                <li class="second"><a target="_blank" href="https://topminecraftservers.org/vote/24780">Vote Link #4</a></li>
                <li class="second"><a target="_blank" href="https://www.planetminecraft.com/server/stickymc-4642690/vote/">Vote Link #5</a></li>
            </ul>
        </div>
    </div>
</div>