{{!< default}}

<div class="rulesInner">
    <h1>CastiaMC Rules</h1>
    <p>These are the Official Server Rules. If you are found not following these rules and guidelines, or having a negative impact on our server, Discord and/or website, we have the right to remove you from our platform at our own discretion. We ask you kindly to listen to our staff members and defer to their judgment in vague situations.</p><br>
    <p>
        <strong class="section">Be cool, kind, and civil.</strong><br>
        Treat all members with respect and express your thoughts in an appropriate matter. Chat Misconduct &amp; Inappropriate Behavior is not tolerated. Keeping chat clean is very important to us. It is the main way of communication between players and it should be kept civil and appropriate for all ages at any given time.<br>
        <ul>
            <li>Disrespectful and/or offensive language</li>
            <li>Excessive cussing</li>
            <li>Harassing, discrimination, abuse and/or bullying</li>
            <li>Impersonating others</li>
            <li>Inappropriate usernames, nicknames, skins and/or profile photos.</li>
            <li>Spamming, flooding the chat and/or using excessive caps.</li>
            <li>Advertising</li>
            <li>Sharing personal information</li>
            <li>We are an English server, Please speak English in the general chat.</li>
        </ul>
    </p>
    <hr style="border-top-color: #9f9f9f">
    <p>
        <strong class="section">Gameplay Rules</strong><br>
        We only have a handful of rules regarding actual gameplay! The following are not allowed.<br>
        <ul>
            <li>Griefing within town boundaries. Do not break, or otherwise alter, another players’ build that is towny claimed, without their permission.</li>
            <li>Stealing and/or any form of theft within town boundaries.</li>
            <li>Intentionally killing someone outside of PVP areas. This includes tp/trap-killing players.</li>
            <li>Scamming other users via trades, auctions and/or other transactions.</li>
            <li> Teleport/move between multiple loaded grinders to get more mob kills.</li>
        
            <li>If a resident is inactive for over 7 days, the Mayor has the right to remove them from the town.
            Mayors may remove players’ builds at their discretion if:
                <ol>
                    <li>The player has left the town</li>
                    <li>They have not been online for over 7 days.</li>
                </ol>
            <p>However, the Mayor must give them a 3-day notice beforehand, and allow the player to remove it if they want.</p>
            </li>
            <li> Mayors are permitted to set town rules. If residents do not follow these, Mayors can enforce them by evicting them from the town.</li>
            <li>Player Warp Guidelines:</li>
                <ol>
                    <li>Warp names can't be claimed for "future projects". As soon as you claim them, they have to lead somewhere.</li>
                    <li>Warp names can't be misleading. (Ex. '/pw soccer' should not lead to a swimming pool)</li>
                    <li>Duplicate warps are not allowed. (Ex. You can't have both '/pw shop' &amp; '/pw market' lead to the same location. However, sectional warps are still allowed. (Ex. '/pw ore' &amp; '/pw wool' being in the same shop.))</li>
                    <br>
                    If you happen to run into a warp name that you would like to own yourself and you notice it breaks these rules or is inactive you are allowed to ask staff to remove the warp so you can claim it.
                    This change will never happen before internal discussion within the staff team. 
        
                </ol>
        </ul>
    </p>
    <hr style="border-top-color: #9f9f9f">
    <p>
        <strong class="section">Building Expectations</strong><br>
        Yes, we are an open-world sandbox server, however, please do not intentionally intrude on someone else's private space out there in the wilderness. Do not troll people by building stuff around their town borders or similar actions.
        <ul>
            <li>Grief is not permitted within town boundaries. Do not break, or otherwise alter, another players’ build that is towny claimed, without their permission.</li>
            <li>You may only deform the Main world environment for building purposes. Collecting resources/job grinding should be done in the resource world.</li>
            <li>No inappropriate builds.</li>
            <li>AFK Farms are allowed as long as they do not give any payment regarding jobs. Additionally, staff might limit your builds if it causes lag on the server.</li>
            <br>
            <strong>Due to performance issues:</strong>
            <li>Machines and/or farms that use water flooding based on redstone timers are not allowed.</li>
            <li>All Redstone clocks require an on/off toggle (and needs to be used).</li>
        </ul>
    </p>
    <hr style="border-top-color: #9f9f9f">
    <p>
        <strong class="section">Glitches and exploits</strong><br>
        We expect you to play fairly. Doing so will make it fair and more enjoyable for everyone you're playing with. If you run into a bug, glitch and/or exploit, please report it to us instead of abusing it. Abuse will result in a permanent ban.
        <ul>
            <li>Vanilla Exploits</li>
            <li>Clearly unintentional plugin bugs</li>
            <li>Duping items</li>
        </ul>
    </p>
    <hr style="border-top-color: #9f9f9f">
    <p>
        <strong class="section">Alt Accounts</strong><br>
        You may use alternate accounts on our server. However, there are limitations. Sharing an account is also considered “Alt Usage”.<br><br>

        You may only control 1 account at a time. You may use alt accounts to afk. But, you may not play with multiple accounts simultaneously.<br><br>

        You can only have 3 concurrent accounts online per household / IP. If you have more than 3 real people playing the game, Reach out to an Administrator to get "the okay" to use more than 3 accounts simultaneously.<br><br>
        You <strong>MAY</strong>
        <ul>
            <li>Vote + claim Vote Party rewards</li>
            <li>Claim Daily Llama</li>
            <li>Make use of jobs</li>
            <li>Load chunks to load farms</li>
            <li>Complete Quests</li>
            <li>Join/create a town/nation to gain extra claims</li>
            <li>Rank up and use its perks</li>
        </ul><br>
        You <strong>MAY NOT</strong>
        <ul>
            <li>Read weekly challenge rules below</li>
        </ul>
    </p>
    <hr style="border-top-color: #9f9f9f">
    <p>
        <strong class="section">Weekly Challenges</strong>
        <ul>
            <li>You may not help improve the scores of another account.</li> 
            <li>All participants must be 100% independent from one another (with the exception of loading chunks for mob spawns)</li>
            <li>Selling items/goods to other players in relation to the challenge is allowed.</li>
        </ul>
        If something is not on this list, treat it as not allowed.
    </p>
    <hr style="border-top-color: #9f9f9f">
    <p>
        <strong class="section">Blacklisted Modifications</strong><br>
        As of now, any non-cosmetic modifications (with a few exceptions) are not allowed on our server. We have listed below what should and shouldn't be allowed.<br>
        <strong>Not Allowed</strong>
        <ul>
            <li>X-Ray mod or texturepacks</li>
            <li>Hacked Clients</li>
            <li>Auto Clickers, Macros, Auto-Fishers and/or any form of automation.</li>
        </ul><br>
        <strong>Allowed</strong>
        <ul>
            <li>Optifine</li>
            <li>Minimaps (disable cave finders)</li>
            <li>Shaders</li>
            <li>Schematica-like mods</li>
            <li>Inventory &amp; mouse tweaks</li>
            <li>HUD mods</li>
            <li>Raising gamma</li>
        </ul>
    </p>
    <hr style="border-top-color: #9f9f9f">
    <p>
        <strong class="section">Last but not least</strong><br>
        Players may not use server-owned communication channels to offer exchanges involving irl money, irl goods and/or other services outside the server. Exchanges involving the CastiaMC store will still be allowed. (This means you are not allowed to sell in-game items to another player for irl currency and/or other goods/services.) 
    </p>
</div>
